x86_64/apple_cursor-2.0.1-1-any.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
x86_64/archlinux-tweak-tool-git-r1229.09fbadb-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
x86_64/archlinux-tweak-tool-git-r1229.09fbadb-1-x86_64.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
x86_64/downgrade-11.8.0-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
x86_64/floorp-bin-12.10.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
x86_64/floorp-bin-12.10.2-1-x86_64.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
x86_64/myarch-extra.db filter=lfs diff=lfs merge=lfs -text
x86_64/apple_cursor-2.0.1-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
x86_64/bibata-cursor-theme-2.0.7-1-any.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
x86_64/dracula-icons-theme-4.0.0-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
x86_64/fish-pure-prompt-git-4.15.0.r15.g376227f-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
x86_64/myarch-extra.files filter=lfs diff=lfs merge=lfs -text
x86_64/bibata-cursor-theme-2.0.7-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
x86_64/btrfsmaintenance-git-0.5.2.r0.gbeb9e2d-1-any.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
x86_64/downgrade-11.8.0-1-any.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
x86_64/dracula-icons-theme-4.0.0-1-any.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
x86_64/fish-pure-prompt-git-4.15.0.r15.g376227f-1-any.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
x86_64/btrfsmaintenance-git-0.5.2.r0.gbeb9e2d-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
